a {
    color: blue;
    text-decoration: none;
}
.web {
    margin:20px auto;
    width:360px;
    padding:5px 5px;
    border:1px solid #bababa;
    background-color: #efefef;
    opacity: 0.8;
    position: relative;
    border-radius: 30px;
}

body {
    font-family: "YakuHanJP_Noto", "Noto Sans JP", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif";
    background-image: url(../images/background.gif);
    background-repeat: repeat;
    /* background-position: center;
    background-size: contain; */
}
.maintenance {
    color: blue;
    text-decoration: none;
}

.new {
    color: red;
}

.gray {
    color: gray;
    text-decoration: none;
}

.manage {
    color: orange;
    text-decoration: none;
}

.box {
    border: solid black 1px;
    border-radius: 5px;
    overflow: scroll;
    height: 200px;
}

.news {
    color: #ff92a8;
}

.red {
    color: red ;
}

.list_tile {
    font-weight: bold;
    color: black;
}

.files {
    border-collapse:  collapse;
}

.files .border {
    border: 1px solid black;
    overflow: hidden ;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nl_border {
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}

.nt_border {
    border: 1px solid black;
    border-top: 0px;
}

.nr_border {
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
}

.open {
    color: lime;
}

.private {
    color: red;
}

.delete {
    color: maroon;
}

.error {
    /* color: red; */
    text-decoration: none;
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(253, 179, 179);
    opacity: 0.8;
}

.success {
    /* color: rgb(2, 184, 2); */
    text-decoration: none;
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(186, 253, 179);
    opacity: 0.8;
}

.plus {
    color: gold;
}

.free {
    color: cornflowerblue;
}

.file_list_title {
    font-size: large;
    color: block;
    font-weight: bold;
}

/* .kakus:nth-child(1n) {
    color: skyblue;
    background: skyblue;
    cursor: pointer;
}
.kakus:nth-child(2n) {
    color: yellow;
    background: yellow;
    cursor: pointer;
}

.kakus:nth-child(3n) {
    color: greenyellow;
    background: greenyellow;
    cursor: pointer;
}

.kakus:nth-child(4n) {
    color: orange;
    background: orange;
    cursor: pointer;
} */

.kakus {
    color: skyblue;
    background: skyblue;
    cursor: pointer;
}

/* .kakus:hover, .kakus.hovered {
    color: red;
    background: white;
} */

.kakus.hovered {
    color: red;
    background: white;
}

/* .kakus::before {
    background: white;
    color: red;
} */

.akasheet {
    font-family: "YakuHanJP_Noto", "Noto Sans JP", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif";
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    padding-left: 10px;
    font-size: 20px;
}

.akasheet:after {
    content:"\Aこのサイトはオープンソースです。\A 詳しくはホームページからご確認ください。\A Copyright (c) 2024 Yuki All rights reserved";
    font-size: 10px;
    white-space: pre;
}

.dis {
    cursor:pointer
}

.plus_link {
    color: rgb(255, 139, 57);
    font-weight: bold;
    font-size: large;
}

.key {
    font-size: 17px;
}

.plus_info {
    color: rgb(255, 139, 57);
}

.hidden {
    display: none;
}

.hidden_box {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visable {
    display: block;
    animation-name:fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    border: solid 1px black;
    border-radius: 5px;
}

@keyframes fadeInAnime{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.file_name {
    width: 180px;
}

.plus_box {
    width: 49px;
}

.status {
    width: 49px;
    text-align: center;
}

.tag {
    width: 80px;
}

.list {
    height: 255px;
    overflow: scroll;
}

.other {
    width: 33px;
}

.web:after {
    content:"\Aこのサイトはオープンソースです。\A 詳しくはホームページからご確認ください。\A Copyright (c) 2024 Yuki All rights reserved";
    font-size: 10px;
    white-space: pre;
}

.video {
    border-radius: 20px;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.list_box {
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
}

.my_file_name {
    border-collapse:  collapse;
    width: 180px;  
}

.my_upload_data {
    border-collapse:  collapse;
    width: 130px;
}

@media (min-width: 420px) {
    .web {
        font-family: "YakuHanJP_Noto", "Noto Sans JP", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif";
        margin:20px auto;
        width:500px;
        padding:5px 20px;
        border:1px solid #bababa;
        background-color: #efefef;
        opacity: 0.8;
        position: relative;
        border-radius: 30px;
    }
    .file_name {
        width: 250px;
    }

    .tag {
        width: 150px;
    }
    
    .list {
        height: 300px;
        overflow: scroll;
    }

    .plus_box {
        width: 50px;
    }

    .my_file_name {
        border-collapse:  collapse;
        width: 250px;  
    }
    
    .my_upload_data {
        border-collapse:  collapse;
        width: 200px;
    }
}

.content_box {
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    max-height: 400px;
    min-height: 200px;
    width: 100%;
    overflow: scroll;
}

.custom_start_page{
    width: 50px;
}

.custom_end_page{
    width: 50px;
}

.mypage-icon {
    font-size: 30px;
    float: right;
    margin-top: 25px;
    margin-right: 5px;
    color: black;
}

.mypage_help_delta {
    display: none;
}

.mypage_help_page {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mypage_visable {
    display: block;
    animation-name:fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    border: solid 1px black;
    border-radius: 5px;
}

.rule-title {
    font-size: x-large;
}

.fl_op {
    color: rgb(67, 67, 233);
    text-decoration: underline;
}

.rule-data {
    text-align: right;
}

.form {
    font-size: 16px;
}

.acount_creat_link {
    color: rgb(255, 128, 99);
}

.forget_link {
    color: gray;
}

.red {
    color: red;
}

.myfile {
    height: 205px;
    border: 1px solid black;
    border-radius: 10px;
}

.new_myfile_link {
    color: #ff8d22;
    font-size: large;
}

.progress {
    width: 100%;
}

.disabled {
    color: #7a7a7a;
    cursor: not-allowed;
}

.image_data {
    text-align: center;
}

.main_image {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.main_image_div {
    padding-bottom: 10px;
}

.pdf_link {
    text-align: center;
}

.loading_log {
    text-align: center;
}

/* .notfile {
    text-align: center;
} */

.black {
    color: black;
}

.border {
    border: 1px solid black;
    border-radius: 5px;
}

.limit {
    color: #069bfe;
}